.App {
  background-color: #FFE1BD;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.App--todo{
  display: flex;
  height: 91%;
  width: 100vw;
}

.App--todo__tasks{
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 91%;
}